<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/login.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div id="sectionSignIn" class="card-body">
                        <h5 class="card-title text-center">Reset Your Password </h5>
                        <form class="form-signin needs-validation" novalidate id="ResetPasswordForm" action="javascript:ForgotPassword()" method="post">
                            <div class="col-form-label-lg">
                                <label class="form-label" for="inputEmail">Email address</label>
                                <input type="email" id="inputEmailFP" name="email" class="form-control" placeholder="Email address" required autofocus>
                                <div id="emailHelp" class="form-text"></div>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Reset Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
@section scripts{
    <script src="~/js/Login.js" asp-append-version="true"></script>
}