<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/login.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div id="sectionSignIn" class="card-body">
                        <h5 class="card-title text-center">Overtime Request </h5>
                        <form class="form-signin needs-validation" novalidate id="loginForm" action="/login/auth" method="post">
                            <div class="col-form-label-lg">
                                <label class="form-label" for="inputEmailLogin">Email address</label>
                                <input type="email" id="inputEmailLogin" name="email" class="form-control" placeholder="Email address" required autofocus>
                                <div id="emailHelp" class="form-text"></div>
                            </div>
                            <div class="col-form-label-lg">
                                <label class="form-label" for="inputPasswordLogin">Password</label>
                                <input type="password" id="inputPasswordLogin" name="password" class="form-control" placeholder="Password" required>
                                <div id="passwordHelp" class="form-text"></div>
                            </div>
                            <div class="my-1">
                                <a href="~/login/forgotpassword/">Forgot Your Password?</a>
                            </div>

                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                            <div style="display:block;" class="mt-2 text-center">
                                <label onclick="showSignUp()">Sign Up</label>
                            </div>
                        </form>
                    </div>
                    <div id="sectionSignUp" style="display:none" class="card-body">
                        <h5 class="card-title text-center">Sign Up</h5>
                        <form id="registerForm" action="javascript:Insert()">
                            <div class="row">
                                <div class="col-6 my-1">
                                    <label for="InputFirstName" class="col-form-label">First Name</label>
                                    <input type="text" class="form-control" id="inputFirstName" aria-describedby="firstnameHelp" required>
                                    <div id="firstnameHelp" class="form-text"></div>
                                </div>
                                <div class="col-6 my-1">
                                    <label for="InputLastName" class="col-form-label">Last Name</label>
                                    <input type="text" class="form-control" id="inputLastName" aria-describedby="lastnameHelp" required>
                                    <div id="lastnameHelp" class="form-text"></div>
                                </div>
                                <div class="col-6 my-1">
                                    <label for="InputPhone" class="col-form-label">Phone</label>
                                    <input type="text" class="form-control" id="inputPhone" aria-describedby="phoneHelp" required>
                                    <div id="phoneHelp" class="form-text"></div>
                                </div>
                                <div class="col-6 my-1">
                                    <label for="InputBirthdate" class="col-form-label">Birth Date</label>
                                    <input type="date" class="form-control" id="inputBirthdate" aria-describedby="BirthdateHelp" required>
                                    <div id="BirthdateHelp" class="form-text"></div>
                                </div>
                                <div class="col-6 my-1">
                                    <label for="InputSalary" class="col-form-label">Salary</label>
                                    <input type="text" class="form-control" id="inputSalary" aria-describedby="salaryHelp" required>
                                    <div id="salaryHelp" class="form-text"></div>
                                </div>
                                <div class="col-6 my-1">
                                    <label for="InputEmail" class="col-form-label">Email</label>
                                    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" required>
                                    <div id="emailHelp" class="form-text"></div>
                                </div>
                                <div class="col-6 my-1">
                                    <label for="InputPassword" class="col-form-label">Password</label>
                                    <input type="password" class="form-control" id="inputPassword" aria-describedby="passwordHelp" minlength="6" required>
                                    <div id="passwordHelp" class="form-text"></div>
                                </div>
                                <div class="col-6 my-1">
                                    <label for="name" class="col-form-label">Gender</label>
                                    <select id="gender" class="form-control" required>
                                        <option value="Laki - laki">Laki - Laki</option>
                                        <option value="Perempuan">Perempuan</option>
                                    </select>
                                </div>
                                <div class="col-6 my-1">
                                    <label for="religion" class="col-form-label">Religion</label>
                                    <select id="religion" class="form-control" required>
                                        <option value="Islam">Islam</option>
                                        <option value="Kristen">Kristen</option>
                                        <option value="Buddha">Budhha</option>
                                        <option value="Hindu">Hindu</option>
                                    </select>
                                </div>
                                <div class="col-6 my-1">
                                    <label for="departmentId" class="col-form-label">Department</label>
                                    <select id="departmentId" class="form-control" required>
                                        <option value="1">Finance</option>
                                        <option value="2">ADD2</option>
                                        <option value="3">ADD1</option>
                                    </select>
                                </div>
                                @*<div class="col-6 my-1">
                                    <label for="InputManagerId" class="col-form-label">Manager ID</label>
                                    <input type="number" class="form-control" id="inputManagerId" aria-describedby="managerHelp" required>
                                    <div id="managerHelp" class="form-text"></div>
                                </div>*@
                            </div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign Up</button>
                            <div style="display:block;" class="mt-2 text-center">
                                <label onclick="showSignIn()">Sign In</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
@section scripts{
    <script src="~/js/Login.js" asp-append-version="true"></script>
}