@{
    Layout = "~/Views/Shared/AdminLTE/_Layout2.cshtml";
    ViewData["NIP"] = @ViewBag.sessionNip;
    ViewData["FirstName"] = @ViewBag.sessionFName;
    ViewData["LastName"] = @ViewBag.sessionLName;
}

<div class="container">
    <div>
        <p class="text-center">
            <H3>Selamat Datang Di Aplikasi Overtime Request</H3>
        </p>
    </div>
</div>
<input id="nip" style="display:none" value="@ViewData["NIP"]">
@if (ViewBag.sessionRole == "Admin")
{
    <div class="row">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>5</h3>

                    <p>Total Employee</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>12</h3>

                    <p>Overtime Request</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3>5</h3>

                    <p>User Registrations</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
                <div class="inner">
                    <h3>4</h3>

                    <p>Total Roles</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-5">
                <div class="card" id="UnivContainer">
                    <div class="card-header bg-transparent border-success">Roles</div>
                    <div class="card-body">
                        <div id="UniCh"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@if (ViewBag.sessionRole == "Employee" || ViewBag.sessionRole == "Manager")
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-5">
                <div class="card" id="UnivContainer">
                    <div class="card-header bg-transparent border-success">My Overtime Request</div>
                    <div class="card-body">
                        <div id="MyReqCh"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="~/js/Admin.js" asp-append-version="true"></script>
}