@{
    Layout = "~/Views/Shared/AdminLTE/_Layout2.cshtml";
}

<div class="container">
    <div>
        <p class="text-center">
            <H3>Selamat Datang Di Aplikasi Overtime Request</H3>
        </p>
    </div>
</div>
@section scripts{
}