@{
    Layout = "~/Views/Shared/AdminLTE/_Layout2.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
</head>
<body>
    <div class="container-fluid">
            <div class="col-5">
                <div class="card" id="SalContainer">
                    <div class="card-header bg-transparent border-success"> Roles Chart</div>
                    <div class="card-body">
                        <div id="SalCh"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
@section scripts{
    <script src="~/js/Admin.js" asp-append-version="true"></script>
}