@{
    Layout = "~/Views/Shared/AdminLTE/_Layout2.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/login.css">
</head>
<div>
    <p class="maintitle">Request Overtime Form</p>
</div>
<section class="timesheet-navigation">
    <div class="nav">
        <div class="container-fluid nopaddingmail">
            <div class="tabbable">
                <ul class="nav nav-tabs" data-tabs="tabs" id="myTab">
                    <li class="active"><a data-toggle="tab" href="#incoming">Current</a></li>
                    <li><a data-toggle="tab" href="#sentmsg">Previous</a></li>
                    <li><a data-toggle="tab" href="#sentmsg">Not Sent</a></li>
                    <li><a data-toggle="tab" href="#sentmsg">Wait for Accept</a></li>
                    <li><a data-toggle="tab" href="#sentmsg">Accepted</a></li>
                    <li><a data-toggle="tab" href="#sentmsg">Rejected</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="incoming">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>