@{
    Layout = "~/Views/Shared/AdminLTE/_Layout2.cshtml";
    ViewData["NIP"] = @ViewBag.sessionNip;
}

<h1>Employee List</h1>
<table id="tableEmployee" class="table table-responsive table-hover table-bordered">
    <thead>
        <tr>
            <th>No.</th>
            <th>NIP</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Delete</th>
            <th>Update Password</th>
            <th>Update Role</th>
        </tr>
    </thead>
    <tbody id="bodyPerson">
    </tbody>
</table>
<div class="modal fade" id="modalChangePass" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="bodyMChangePass">
                <form id="formPersonUpd" action="javascript:UpdatePassword()">
                    <input id="nip" style="display:none" value="@ViewData["NIP"]">
                    <div class="row">
                        <div class="col-6 my-1">
                            <label for="oldPassword" class="col-form-label">Old Password</label>
                            <input type="password" class="form-control" id="oldPassword" aria-describedby="oldPasswordHelp" required>
                            <div id="oldPasswordHelp" class="form-text"></div>
                        </div>
                        <div class="col-6 my-1">
                            <label for="newPassword" class="col-form-label">New Password</label>
                            <input type="password" class="form-control" id="newPassword" aria-describedby="newPasswordHelp" required>
                            <div id="newPasswordHelp" class="form-text"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="UpdateBtn" type="submit" class="btn btn-primary">Update</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/js/Employee.js" asp-append-version="true"></script>
}