@{
    Layout = "~/Views/Shared/AdminLTE/_Layout2.cshtml";
    ViewData["NIP"] = @ViewBag.sessionNip;
}
<div>
    <form id="formPersonUpd" action="javascript:UpdatePassword()">
        <div class="row">
            <input id="nip" style="display:none" value="@ViewData["NIP"]">
            <div class="col-6 my-1">
                <label for="oldPassword" class="col-form-label">Old Password</label>
                <input type="text" class="form-control" id="oldPassword" aria-describedby="oldPasswordHelp" required>
                <div id="oldPasswordHelp" class="form-text"></div>
            </div>
            <div class="col-6 my-1">
                <label for="newPassword" class="col-form-label">New Password</label>
                <input type="text" class="form-control" id="newPassword" aria-describedby="newPasswordHelp" required>
                <div id="newPasswordHelp" class="form-text"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button id="changePassBtn" type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
</div>
@section scripts{
    <script src="~/js/Profile.js" asp-append-version="true"></script>
}